:root[data-contrast="dark-high"] {
  color-scheme: dark;
  --color-background: #0a0a0a;
  --color-text: #fff;
  --color-link: #ffff00;
  --color-link-hover: #ffff00;
  --color-link-visited: #ffff00;
  --color-surface-muted: #202020;
  --color-overlay-subtle: rgba(255, 255, 255, 0.14);
  --border-width: 2px;
}
